h1,
h2 {
  text-decoration: underline;
  text-decoration-color: #c3431c;
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

p:not(.footer p) {
  font-family: "Bodoni Moda", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#hplogo {
  margin-right: 10px;
  border-radius: 8px;
  float: left;
  height: 60px;
}

#biography-text {
  text-align: center;
  overflow: hidden;
}

.nav-bar {
  background-color: #641e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  flex-direction: row;
  position: sticky;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.nav-bar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.nav-bar ul li a:hover {
  color: #f1c40f;
  font-size: 20px;
}

.footer {
  font-size: 12px;
  background-color: #333;
  color: white;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  box-sizing: border-box;
}

.footer p {
  margin: 5px 0;
  max-width: 800px;
  line-height: 1.5;
}

.social-icons {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  width: 24px;
  height: auto;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.hp-com a {
  color: #d3a625;
}
